:root {
  --general-gray-text: #757575;
  --second-black-text: #212121;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --color-footer: #2f303a;
  --layout-bcg: rgba(47, 48, 58, 0.4);
}

/* для body */
body {
  background-color: var(--color-white);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding-left: 0;
}
.reset {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* шапка\хедер */
.hat {
  background-color: var(--color-white);
  border-bottom: 1px solid #ececec;
}

/* Логотип */

.hat-logo {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.firstlogo {
  color: var(--color-blue);
}
.secondlogo {
  color: var(--second-black-text);
}

/* навігація */
.hat-flex {
  display: flex;
}
.hat-flex ul {
  display: flex;
  align-items: center;
}
.hat-navi {
  display: flex;
}

.link-navi {
  display: flex;

  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-navi a {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: inherit;
  text-decoration: none;
  color: var(--second-black-text);
}
.link-navi li:not(:last-child) {
  margin-right: 50px;
}

.link-navi .link.current {
  color: var(--color-blue);
}
/* контакти шапки */
.icon-contact {
  display: inline-block;
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.hat-contact {
  display: flex;
  margin-left: auto;
}
.hat-contact li:not(:last-child) {
  margin-right: 50px;
}
.hat-contact a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--general-gray-text);
}

.hat a:hover,
.hat a:focus {
  color: var(--color-blue);
}
/* футер */
.section-footer {
  background-color: var(--color-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-box {
}

/* логотип футер */
.logofooter {
  display: block;
  margin-bottom: 20px;

  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.thirdlogo {
  color: var(--color-blue);
}

.fourthlogo {
  color: var(--color-white);
}
/* футер адреса */
.footaddress {
  text-decoration: none;
}

.maps {
  display: block;
  margin-bottom: 9px;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.74;
  color: var(--color-white);
}
.email {
  display: block;
  margin-bottom: 9px;
}
.tel {
  display: block;
}
.cont {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.cont:hover,
.cont:focus {
  color: var(--color-blue);
}

/* секція герой */
.hero-content {
  margin-top: 200px;
  margin-bottom: 200px;
  text-align: center;
  width: 696px;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  background-color: var(--color-footer);
  background-image: linear-gradient(
      to top,
      var(--layout-bcg),
      var(--layout-bcg)
    ),
    url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero-phrase {
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--color-white);
}

.button-hero {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  padding: 10px 32px;
  letter-spacing: 0.06em;

  color: var(--color-white);
  background-color: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}
/* секція факти */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.quality {
  background-color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}
.quality-flex {
  display: flex;
  justify-content: space-between;
}

.quality-flex li {
  width: 270px;
}

.fact {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--second-black-text);
}

.descr {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;

  color: var(--general-gray-text);
}
/* чим ми займаємось */
.work {
  background-color: var(--color-white);
  padding-bottom: 94px;
}

.work-flex {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.work-flex img {
  display: block;
}
.work h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--second-black-text);
}
/* команда */
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.team-flex img {
  display: block;
}

.team h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: var(--second-black-text);
}

.team ul {
}

.team li {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--color-white);
}

.team-descr {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: auto;
  padding-right: auto;
}
.team-flex h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
.team p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--general-gray-text);
}
/* portfolio body */

.btn-section {
  background-color: var(--color-white);
}

.product {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-filter {
  padding: 6px 22px;
  text-align: center;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border-radius: 4px;
  cursor: pointer;
  color: var(--second-black-text);
  border-color: transparent;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.btn-section li:not(:last-child) {
  margin-right: 8px;
}

.btn-section {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.product a {
  text-decoration: none;
}

.product-link li {
  border: 1px solid #eeeeee;
  background-color: var(--color-white);
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.product h2 {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--second-black-text);
}
.product p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.875;

  color: var(--general-gray-text);
}
.product-link {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
}

.product-link img {
  width: 100%;
  display: block;
}
.card-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
